.examples>li:nth-child(1) {
  background-image: url(../image/examples/gauge-car-dark.png);
}

.examples>li:nth-child(2) {
  background-image: url(../image/examples/tree-radial.png);
}

.examples>li:nth-child(3) {
  background-image: url(../image/examples/multiple-x-axis.png);
}

.examples>li:nth-child(4) {
  background-image: url(../image/examples/money-schedule.png);
}

/*
----------------------------------------
例子界面
----------------------------------------
*/

.example-view {
  text-align: center;
  width: 9rem;
  height: 100vh;
  margin: auto;
}

.example-view>.goBack,
.example-view>.codeview {
  position: fixed;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
  width: .5rem;
  height: .5rem;
  display: inline-block;
  font-size: 0;
  top: .1rem;
  cursor: pointer;
}

.example-view>.goBack {
  background-image: url(../image/goBack.png);
  left: .1rem;
}

.example-view>.codeview {
  background-image: url(../image/edit.png);
  right: .1rem;
}

.example-view>.goBack:hover {
  background-image: url(../image/goBack_hover.png);
}

.example-view>.codeview:hover {
  background-image: url(../image/edit_hover.png);

}

.example-view>.goBack:hover,
.example-view>.codeview:hover {
  background-size: 100%;
}
