<section class='entry-view' ng-init='initMethod()'>

  <a href="https://github.com/yelloxing/Image-Demo" class='github'>Fork me on Github</a>

  <header class='header'>

    <nav>
      <a href="#entry" class='active'>Home</a>
      <a href="https://github.com/yelloxing/image2D">image2D</a>
      <a href="https://github.com/yelloxing/image3D">image3D</a>
      <a href="#menu">Examples</a>
      <a href="https://github.com/yelloxing/Image-Demo/issues">Issue</a>
    </nav>

    <h1 class='title'>
      Image's Examples
    </h1>

  </header>

  <ul class='examples'>

    <!-- 用例入口 -->
    <li ng-click='goto("money-schedule")' class='item money-schedule'></li>
    <li ng-click='goto("tree-radial")' class='item tree-radial'></li>
    <li ng-click='goto("multiple-x-axis")' class='item multiple-x-axis'></li>

    <li class="more">
      <a class='btn' href="javascript:void(0)" ng-click='goto("menu")'>查看更多 >></a>
    </li>

  </ul>

  <span class='advertisement'>
    📊📈🎉 本项目基于的库
    <a href="https://www.oschina.net/p/image2d">【image2D】</a>
    和
    <a href="https://www.oschina.net/p/image3d">【image3D】</a>
    加入了开源中国并在其开源，欢迎大家关注！
  </span>

  <p class='item'>
    <span class="black pointer" ng-click='open2DDoc()'>image2D.js</span>
    和
    <span class="black pointer" ng-click='open3DDoc()'>image3D.js</span>
    是一个专注于前端绘图的JavaScript库。前者用于绘制二维图形，后者用于绘制三维图形，本项目主要是用于演示一些基于此开发的用例，欢迎你的加入。
  </p>

  <p class="item">
    我们推荐你使用npm方式引入：
  </p>
  <pre class='item prettyprint lang-js'>import $$ from 'image2d';</pre>
  <pre class='item prettyprint lang-js'>import image3D from 'image3d';</pre>

  <p class="item">
    当然，你也可以直接通过CDN引入（请选择你使用的版本）：
  </p>
  <pre
    class='item prettyprint lang-html'>&lt;script src='https://cdn.jsdelivr.net/npm/image2d@1.6.5/build/image2D.min.js'&gt;&lt;/script&gt;</pre>
  <pre
    class='item prettyprint lang-html'>&lt;script src='https://cdn.jsdelivr.net/npm/image3d@2.0.8/build/image3D.min.js'&gt;&lt;/script&gt;</pre>

  <p class="item">
    在使用的过程中，你可以查看
    <a href="https://github.com/yelloxing/image2D/blob/master/CHANGELOG" class='link'>2D更新日志</a>
    和
    <a href="https://github.com/yelloxing/image3D/blob/master/CHANGELOG" class='link'>3D更新日志</a>
    来判断是否需要升级或应该选择那个版本。当然，我们提供向下兼容，因此在大部分情况下，最新版本可能都是比较好的选择！
  </p>

  <footer class='item'>
    Library released under MIT license
    . Copyright 2019 - 2020
    <a href="https://yelloxing.github.io/notebook/" class='link'>心叶 yelloxing</a>
    .
  </footer>

</section>